<div id="container-controllers">
    <button (click)="addMarkerPressed()"    >Agregar marker</button>
    <button (click)="addMarkerPressed(50)"  >Agregar 50 markers</button>
    <button (click)="addMarkerPressed(100)" >Agregar 100 markers</button>
    <button (click)="addMarkerPressed(500)" >Agregar 500 markers</button>
    <button (click)="addMarkerPressed(1000)">Agregar 1000 markers</button>
    <button (click)="clearMarkersPressed()" >Limpiar markers</button>
    <span>Markers count: {{ positions.length }}</span>
</div> 