<app-map-controllers    
    (addMarker)="addMarker($event)"
    (clearMarkers)="clearMarkers()"
    [positions]="positions"
></app-map-controllers>
<agm-map id="map"
    [latitude] = "20.131426083486044"
    [longitude] = "-97.8994909422886"
    (centerChange)="centerChange($event)">

    <agm-marker
        *ngFor="let pos of positions"
        [latitude]="pos.latitud"
        [longitude]="pos.longitud"></agm-marker>

    <agm-tracert
        [positions]="positions"></agm-tracert>

</agm-map>
<div id="coords-view">
    {{latitud}} | {{longitud}}
</div>